<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    rel="stylesheet" 
    id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/charts.css">
    <title>Charts</title>
</head>
<body>
        <div class="nav">
                <img src="../static/img/logo.png" alt="" class="logo" height="40%"> 
                <div class="box">
                            <i class="fas fa-search">
                            </i>
                            <input type="search" id="search" placeholder="Search..."/>
                </div>
                <div class="tv">
                    <button class="btn1";>
                        CHARTS
                    </button>
                    <button class="btn2";>
                        SIGN IN
                    </button>
        
                </div>
        </div>
        <div class="time">
            <b>REALTIME</b>
        </div>
        <div class="b">
            <p class="stt">01</p>
            <img src="../static/img/ava1.jpg" alt="" class="ava">
            <div class=name>
                <p>KILL THIS LOVE<br>Blackpink</p>
            </div>
            <img src="../static/img/playbutton.png" alt="" class="pb">
        </div>
        <hr>
        <div class="b">
            <p class="stt">02</p>
            <img src="../static/img/ava2.jpg" alt="" class="ava">
            <div class=name>
                <p>Let's Du Dua<br>Bich Phuong</p>
            </div>
            <img src="../static/img/playbutton.png" alt="" class="pb">
        </div>
        <hr>
        <div class="b">
            <p class="stt">03</p>
            <img src="../static/img/ava3.jpg" alt="" class="ava">
            <div class=name>
                <p>Het thuong can nho<br>Duc Phuc</p>
            </div>
            <img src="../static/img/playbutton.png" alt="" class="pb">
        </div>
        <hr>
        <div class="b">
                <p class="stt">04</p>
                <img src="../static/img/ava4.jpg" alt="" class="ava">
                <div class=name>
                    <p>Where is your house bae<br>AMEE</p>
                </div>
                <img src="../static/img/playbutton.png" alt="" class="pb">
            </div>
        <hr>
        <div class="b">
                <p class="stt">05</p>
                <img src="../static/img/ava5.jpg" alt="" class="ava">
                <div class=name>
                    <p>Ke cap gap ba gia<br>Hoang Thuy Linh</p>
                </div>
                <img src="../static/img/playbutton.png" alt="" class="pb">
            </div>
        <hr>
        <div class="b">
                <p class="stt">06</p>
                <img src="../static/img/ava6.jpg" alt="" class="ava">
                <div class=name>
                    <p>So far<br>Binz</p>
                </div>
                <img src="../static/img/playbutton.png" alt="" class="pb">
            </div>
        <hr>
        <div class="b">
                <p class="stt">07</p>
                <img src="../static/img/ava7.jpg" alt="" class="ava">
                <div class=name>
                    <p>Bang bang bang<br>Bigbang</p>
                </div>
                <img src="../static/img/playbutton.png" alt="" class="pb">
            </div>
        <hr>
        <div class="b">
                <p class="stt">08</p>
                <img src="../static/img/ava8.jpg" alt="" class="ava">
                <div class=name>
                    <p>Spring day<br>BTS</p>
                </div>
                <img src="../static/img/playbutton.png" alt="" class="pb">
            </div>
        <hr>
        <div class="b">
                <p class="stt">09</p>
                <img src="../static/img/ava9.jpg" alt="" class="ava">
                <div class=name>
                    <p>Anh oi o lai<br>Chi Pu</p>
                </div>
                <img src="../static/img/playbutton.png" alt="" class="pb">
            </div>
        <hr>
        <div class="b">
                <p class="stt">10</p>
                <img src="../static/img/ava10.png" alt="" class="ava">
                <div class=name>
                    <p>Chay ngay di<br>Son Tung</p>
                </div>
                <img src="../static/img/playbutton.png" alt="" class="pb">
            </div>
        <hr>

        
    
</body>
</html>