<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    rel="stylesheet" 
    id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/running.css">
    <title>Running</title>
</head>
<body>
        <div class="nav">
                <img src="../static/img/logo.png" alt="" class="logo" height="40%"> 
                <div class="box">
                            <i class="fas fa-search">
                            </i>
                            <input type="search" id="search" placeholder="Search..."/>
                </div>
                <div class="tv">
                    <button class="btn btn-primary";>
                        CHARTS
                    </button>
                    <button class="btn btn-primary";>
                        SIGN IN
                    </button>
        
                </div>
                
            </div>
        <div class="rn">
            <div class="cover">
                <img src="../static/img/lovememore.jpg" alt="" class="c">
            </div>
            <div class="recommend">
                <p class="rcm">Recommend List</p>
                <!--<img src="../static/img/playbutton.png" alt="" class="pb">-->
                <hr>
                <p class="name">Kill this love<br>Blackpink</p>
                <hr>
                <p class="name">Let's Du Dua<br>Bich Phuong</p>
                <hr>
                <p class="name">Love is empty<br>Duc Phuc</p>
                <hr>
                <p class="name">Anh oi o lai<br>Chi Pu</p>
                <hr>
                <p class="name">Ke cap gap ba gia<br>Hoang Thuy Linh</p>
                <hr>
            </div>
            
        </div>
        <div class="nn">
              nn  
        </div>
    
</body>
</html>